  <div class="container">
  <div class="player-show-grid">
    <% @posts.each do |post| %>

    <div class="player-show-card">
      <%= link_to post_path(post.id) do %>
      <img class="img-player-show-card" src="<%= post.photo %>" alt="">
      <% end %>
    </div>
    <% end %>
  </div>
</div>
